

.carousel_outside_container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 180px;
}


.carousel_text01{
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.83);
    margin-bottom: 25px;
}


.carousel_scroll_wrapper{
    display: flex;
    align-items: flex-start;
    width: 100%;
    overflow-x: auto;
}